h1{
    color: bisque;
    font-family: 'Courier New', monospace;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
}
.recipeForm{
    background-color: bisque;
    color:black;
}
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}
body{
    background-color: #527a7a;
}
.card-img {
    width: 100%;
    height: 15em;
    object-fit: cover;
}