h1{
    color: bisque;
    font-family: 'Courier New', monospace;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
}
.recipeForm{
    background-color: bisque;
    color:black;
}

body{
    background-color: #527a7a;
}
.card-img {
    width: 100%;
    height: 15em;
    object-fit: cover;
}